<!-- Contato -->
<section class="panel-body">

  <!-- Feedback das ações disparadas pelo usuário -->
  <div ng-include="'/portal/app/components/partials/avisos.html'"></div>

  <!-- Heading -->
  <section class="text-gray text-font-21">
    Informe seus dados e entraremos em contato com você.
  </section>

  <form class="form row top-30" name="ctrl.contato" vr-enter-key-form-interceptor="">

    <div class="col-sm-8 row">
      <div class="form-group col-sm-12">
        <label class="form-label-gray"
               ng-class="{'text-font-15 form-label-gray-brand text-uppercase':(Navigation.hasURI('comum/') || Navigation.hasURI('area-publica/'))}">
          Nome do estabelecimento
        </label>
        <input type="text" name="nomedoestabelecimento" class="form-control"
               ng-model="formSolicitarContato.estabelecimento"
               required>
        <div ng-messages class="error-messages" for="ctrl.contato['nomedoestabelecimento'].$error"
             ng-if="ctrl.contato['nomedoestabelecimento'].$dirty">
          <p ng-message when="required" class="text-right">Por favor, informe o nome do estabelecimento</p>
        </div>
      </div>
      <div class="form-group col-sm-12">
        <label class="form-label-gray"
               ng-class="{'text-font-15 form-label-gray-brand text-uppercase':(Navigation.hasURI('comum/') || Navigation.hasURI('area-publica/'))}">
          Nome para contato
        </label>
        <input type="text" name="nomedocontato" class="form-control"
               ng-model="formSolicitarContato.contato" required>
        <div ng-messages class="error-messages" for="ctrl.contato['nomedocontato'].$error"
             ng-if="ctrl.contato['nomedocontato'].$dirty">
          <p ng-message when="required" class="text-right">Por favor, informe o nome do contato</p>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <label class="form-label-gray"
               ng-class="{'text-font-15 form-label-gray-brand text-uppercase':(Navigation.hasURI('comum/') || Navigation.hasURI('area-publica/'))}">
          Telefone
        </label>
        <input type="text" name="telefone" class="form-control"
               ng-model="formSolicitarContato.telefone" ui-options="{clearOnBlur:false}" ui-mask="(99) 9999-9999?9"
               ui-mask-placeholder ui-mask-placeholder-char="_"
               required>
        <div ng-messages class="error-messages" for="ctrl.contato['telefone'].$error"
             ng-if="ctrl.contato['telefone'].$dirty && ctrl.contato['telefone'].$touched">
          <p ng-message when="required" class="text-right">Por favor, informe o telefone de contato</p>
          <p ng-message when="mask" class="text-right">Por favor digite um número de telefone válido</p>
        </div>
      </div>
      <div class="form-group col-sm-12" ng-if="!isInConfirmation()">
        <div class="form-group" vc-recaptcha key="recaptchaKey" size="recapchaSize()"></div>
      </div>
    </div>

    <!-- Separador -->
    <div class="col-sm-12">
      <small class="text-gray">* Campos obrigatórios</small>
      <hr class="hr"/>
    </div>

    <div class="form-group col-sm-4 col-sm-offset-4 top-10 text-center">
      <button type="button" class="btn btn-default btn-block" ng-click="openConfirmationModal()"
              ng-class="{'btn-xg':(Navigation.hasURI('comum/') || Navigation.hasURI('area-publica/'))}"
              ng-disabled="ctrl.contato.$invalid">
        Confirmar solicitação
      </button>
    </div>
  </form>
</section>
