<!-- Tela de Sucesso -->
<section class="modal-header">
  <h3 class="h3 title">:)</h3>
  <p class="lead">
    O cartão <span class="text-secundary">Final {{cardNumber|cardEnd}}</span> foi desbloqueado com sucesso!
  </p>
</section>

<section class="modal-footer">
  <!-- Botão desbloquear novo -->
  <a class="btn btn-default" href="javascript:void(0)" ng-click="close()">
    Desbloquear novo cartão
  </a>

  <!-- Botão desbloquear novo -->
  <a class="btn btn-primary" href="javascript:void(0)" ng-click="checkCardAmount()">
    Consultar saldo
  </a>
</section>
