<header class="modal-header">
	<h3 class="h3">TERMOS DE USO</h3>
</header>

<section class="modal-body">
	<div class="row top-30">
		<div class="col-sm-12">
			<p>
			Seja bem-vindo para navegar à vontade, falar conosco, solicitar informações e utilizar este site. Para garantir a sua privacidade, conheça as condições para o uso do serviço. Eventuais abusos podem resultar em advertências, assim como as informações sobre usuários que cometerem tais abusos podem ser disponibilizadas para autoridades competentes.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Uso do site</h4>
			<p>
			Você pode baixar conteúdo somente para fins pessoais e não comerciais.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Acesso restrito</h4>
			<p>
			O site possui uma área restrita com serviços exclusivos. O acesso se dá através de identificação e senha, que deverão ser previamente cadastrados. A senha é secreta e cabe ao usuário zelar por sua segurança.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Segurança</h4>
			<p>
			A segurança de suas informações é muito importante para nós e nos comprometemos a proteger as informações pessoais que coletamos. Este site utiliza barreiras de proteção e procedimentos de segurança para salvaguardar nossos recursos físicos, a fim de evitar eventuais perdas, mau uso ou alteração das informações coletadas.<br/>
			Constituem abuso dos serviços do Portal VR Benefícios:<br/>
			- Qualquer uso do conteúdo com propósitos ilegais, tenha êxito ou não.</br/>
			- Violar copyright ou direito autoral reproduzindo material sem prévia autorização.<br/>
			- Transmissão de dados que causem falhas em serviços ou equipamentos.</br>
			- Uso da rede para tentar e/ou realizar acesso não autorizado a dispositivos de comunicação, informação ou computação; destruir ou corromper dados e informações de outros usuários.</br>
			- Violar a privacidade de outros usuários.</br>
			- Forjar endereços de máquinas, de rede ou de correio eletrônico, na tentativa de ocultar a identidade ou autoria, ou de responsabilizar terceiros.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h4>Links</h4>
			<p>Este site disponibiliza links para páginas de outras empresas que contêm informações. Por serem independentes, a VR Benefícios não se responsabiliza pelo conteúdo e pelas políticas de privacidade praticadas por esses sites. A VR Benefícios também não se responsabiliza pelo conteúdo de qualquer site de outras empresas com links que conduzam a este site.</p>
		</div>
	</div>

</section>

<footer class="modal-footer">
	<div class="col-sm-4 top-10">
    <button class="btn btn-default btn-xg btn-block btn-left top-10"
            ng-click="close()">
      <div class="text-center">
        Fechar
      </div>
    </button>
	</div>
	<div class="col-sm-8 top-10">
    <button class="btn btn-primary btn-xg btn-block btn-left top-10"
            ng-click="acceptance()">
      <div class="text-center">
        <i class="icon icon-icon_seta_botao pull-left top-10"></i>
        Aceito os termos de uso
      </div>
    </button>
	</div>
</footer>
