<section role="alert" class="alert alert-main"
         ng-class="{'alert-success':(vrAlertType!=='danger' && vrAlertType!=='warning'), 'alert-warning':vrAlertType==='warning', 'alert-danger':vrAlertType==='danger' }"
         ng-show="alertDisplay">
  <div class="row">
    <div class="col-md-1">
      <i class="icon"
         ng-class="{'icon-icon_alerta':vrAlertType==='success', 'icon-icon_informacoes_on':vrAlertType!=='success'}"></i>
    </div>

    <div class="col-md-10">
      <div id="vr-alert-content">{{vrAlert}}</div>
    </div>

    <div class="col-md-1">
      <a href="javascript:void(0)" role="close" class="pull-right alert-dismiss" ng-click="dismiss()">
        <i class="icon"
           ng-class="{'icon-icon_fechar_alerta':vrAlertType==='success', 'icon-icon_fechar_feedback_form':vrAlertType!=='success'}"></i>
      </a>
    </div>

  </div>

</section>
