.alert {
  padding: 10px;

  & > .close {
    top: 0;
    right: 0;
  }
}

.alert-gray {
  color: $gray;
  background: $gray-lighter;
}

.alert-success {
  background: $gray-brand;
  &:after {
    border-color: $gray-brand transparent transparent $gray-brand;
  }
}

.alert-danger {
  background: $brand-danger;
  &:after {
    border-color: $brand-danger transparent transparent $brand-danger;
  }
}

.alert-warning {
  background: $brand-warning;
  &:after {
    border-color: $brand-warning transparent transparent $brand-warning;
  }
}

.alert-main {
  width: 80%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 30px;
  color: white;
  border-radius: 4px 4px 4px 0;
  padding: 15px 20px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.5);
  clear: both;
  border: 0;

  & > p > span {
    padding: {
      left: 20px;
    }
  }

  &:after {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-width: 15px;
    border-style: solid;
    left: 0;
  }

  .alert-dismiss {
    font-size: 0.8em;
  }
}

