.pagination {
  margin: 0;
  > li {
    display: inline-block;
  }

  li:first-child a,
  li:last-child a {
    border-radius: 3px;
    border: 2px solid $gray-lighter;
  }

  .active {
    background: $brand-primary;
    color: white;
    border: 0;
  }

}

.pagination > li > a,
.pagination > li > span {
  border: 0;
}
