<main class="col-md-8" ng-controller="ExtractController">
  <!-- Conteúdo principal -->
  <h2 class="title">EXTRATO COMPLETO</h2>

  <!-- Navegação entre produtos -->
  <nav class="no-print">
    <a href="javascript:void(0)"
       class="link-main"
       ng-repeat="tab in tabs"
       ng-click="setActiveTab($index)"
       ng-class="{'active' : isTabActive($index)}"
       ng-bind="tab.nome"></a>
  </nav>

  <!-- Painel principal que muda a cada iteração e é a continuação dessa view como principal -->
  <article class="panel panel-default panel-min-heigth-420">

    <!-- Diretiva de loading -->
    <section vr-loading-panel="LOADING"></section>

    <!-- Include de mensagem de loader -->
    <div ng-include="'/portal/app/components/partials/carregando.html'"></div>

    <!-- Include de mensagem de ausencia de conteudo -->
    <div ng-include="'/portal/app/components/partials/sem-conteudo.html'"></div>

    <!-- Mensagem de erro -->
    <section class="panel-body text-center panel-message" ng-show="hasError()">
      <!-- Icone substituir icone no font-awesome -->
      <!-- Ponto de mudança -->
      <i class="icon icon-icon_erro_carregamento_conteudo"></i><br>
      <!-- Texto principal -->
      <span class="text-secundary col-sm-12 top-10">OPS</span>
      <!-- Texto menor secundário -->
      <!-- Alteração de small para "p" -->
      <p class="text-gray col-sm-12">{{ERROR}}.</p>
    </section>

    <!-- Inicio do corpo do painel principal -->
    <!-- Alteração: row nesse panel-body -->
    <section class="panel-body" ng-show="hasContent()">
      <!--div ng-if="isTabActive($index)" ng-repeat="tab in tabs"-->
      <div ng-include="'/portal/app/UI-Beneficiario/partials/extrato-cartao.html'"></div>
      <!--/div-->
    </section>

  </article>

</main>
<!-- Fim do main -->
