<!DOCTYPE html>
<html>
    <head>
        <!-- Metas - Dados para browser -->
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <!-- Meta Colors para mobile -->
        <meta name="theme-color" content="#32353E">
        <meta name="apple-mobile-web-app-status-bar-style" content="#32353E">
        <meta name="msapplication-navbutton-color" content="#32353E">
        <!-- Meta Social -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description"
              content="Empresa que desenvolve e promove benefícios para trabalhadores, estudantes e consumidores e serviços para empresas e estabelecimentos. Adquira VR Benefícios para seus funcionários, você escolhe o canal de vendas">
        <meta name="keywords"
              content="benefícios, benefícios Trabalhadores, benefícios Consumidores, Serviços Empresas, Serviços Estabelecimentos">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta property="og:title" content="VR Benefícios">
        <meta property="og:type" content="website">
        <meta name="revisit-after" content="4 days">
        <meta name="Author" content="VR Benefícios- www.vr.com.br">
        <meta name="Email" content="relacionamento@vr.com.br">
        <meta name="Copyright" content="Copyright © 2016 VR Benefícios e Serviços">
        <meta name="Distribution" content="Global">
        <meta name="Rating" content="General">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="Content-Style-Type" content="text/css">

        <!-- CSS -->
        <!-- build:css(.) /portal/css/main.min.css -->
        <link rel="stylesheet" type="text/css" href="/portal/css/base.css">
        <link rel="stylesheet" type="text/css" href="/portal/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/portal/css/icons-painel.css">
        <link rel="stylesheet" type="text/css" href="/portal/css/angular-pickadate.css">
        <!-- endbuild -->

        <!-- Título -->
        <title>VR Benefícios e Serviços</title>
        <!-- JS -->
        <!--[if lt IE 9]>
        <!-- build:js(.) /portal/js/compatibility.min.js -->
        <!-- bower:js -->
        <script src="/portal/js/bower_components/jquery/jquery.js"></script>
        <script src="/portal/js/bower_components/html5shiv/dist/html5shiv.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <![endif]-->
        <style type="text/css">

        </style>
    </head>
    <body>
        <div class="container main-content">
            <main class="col-md-12">
                <h2 class="title">GUIA VR</h2>
                <nav>
                  <a href="" class="link-main">Rede Credenciada</a>
                  <a href="" class="link-main hidden">Promoções</a>
                  <a href="" class="link-main">Indique um estabelecimento</a>
                </nav>

                <div class="">
                    <div  class="panel panel-default">
                        <section class="panel-body">
                          <div class="col-sm-7 col-md-9">
                            <!-- texto principal -->
                            <p>Saiba onde usar os cartões VR Benefícios.</p>
                            <!-- subtitulo informativo -->
                            <p class="text-gray">
                              Selecione o produto e informe o ponto de referência/endereço para encontrar os estabeleciomentos mais
                              próximos de você. Informe também o nome do estabelecimento para encontrar um local específico.
                            </p>
                          </div>
                          <div class="col-sm-5 col-md-3">
                            <a class="btn btn-default btn-block" ng-click="Navigation.setView('addplace')">Indique um estabelecimento</a>
                          </div>
                        </section>

                        <!-- MAPA -->
                        <div class="wrap-map vr-searchmap" style="width: 100%; height: 900px; position: relative; background-color: #e5e5e5">
                            <div class="map-overlay hidden" style="position: absolute; z-index: 5; top: 0; right: 0; left: 0; bottom: 0; background: rgba(0,0,0,0.5)"></div>
                            <div id="pin1" class="map-pin hidden" style="
                            top: 330px;
                            left: 477px;">
                                <i class="icon icon-icon_pin"><span>26</span></i>
                            </div>
                            <div  id="pin2" class="map-pin hidden" style="
    top: 371px;
    left: 602px;">
                                <i class="icon icon-icon_pin"><span>3</span></i>
                            </div>
                            <div class="circle hidden" style="width: 400px; height: 400px;   top: 278px;  right: 354px;">
                                <div class="circle-center"></div>
                            </div>
                            <article id="leftController" class="panel panel-default vr-searchmap-leftcontroller">
                              <div class="panel-body row">
                                <!-- Toggle -->
                                <button id="btn-map-toggle" class="btn btn-map-toggle" ng-click="toggleMapMenu()" ng-class="{'active': menuMapDisplay}">
                                  <i class="fa fa-bars fa-2x text-white"></i>
                                </button>
                                <!-- Inicio do formulário de busca no mapa -->
                                <form class="form" name="map-search" novalidate vr-enter-key-form-interceptor="">
                                  <div class="form-group">
                                    <!-- Label - texto explicando o input -->
                                    <label class="form-label" for="form-card-type">TIPO DE CARTÃO</label>

                                    <div class="input-group">
                                      <span class="input-group-addon"><i class="icon icon-icon_cartao"></i></span>
                                      <select class="form-control" id="form-card-type" name="cardtype" required>
                                        <!-- Criar options para listar o tipo de cartão  - Provavelmente um ng-repeat aqui em algum elemento -->
                                        <option disabled="" selected="">Selecione</option>
                                        <option value="1" >VR REFEIÇÃO</option>
                                        <option value="2">VR ALIMENTAÇÃO</option>
                                        <option value="3">VR ALIMENTAÇÃO CESTA</option>
                                        <option value="4">VR ALIMENTAÇÃO NATAL</option>
                                        <option value="5">VR AUTO</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <!-- Label representa o nome do campo -->
                                    <label class="form-label" for="form-reference-point">PONTO DE REFERÊNCIA</label>

                                    <div class="input-group input-group-location">
                                      <span class="input-group-addon"><i class="icon icon-icon_rota"></i></span>
                                      <!-- Dado do estabelecimento para busca -->
                                      <input class="form-control" id="form-reference-point" name="reference"
                                             placeholder="Digite seu endereço"/>
                                      <i class="icon icon-icon_localizacao"></i>
                                    </div>
                                  </div>
                                  <div class="form-group">
                                    <!-- Label representa o nome do campo -->
                                    <label class="form-label" for="form-place-name">NOME DO ESTABELECIMENTO</label>

                                    <div class="input-group">
                                      <!-- Icone -->
                                      <span class="input-group-addon"><i class="icon icon-icon_empresa"></i></span>
                                      <!-- Dado do estabelecimento para busca -->
                                      <input class="form-control" id="form-place-name" name="place"
                                             placeholder="Nome do estabelecimento"/>
                                    </div>
                                  </div>

                                  <!-- Separador -->
                                  <div class="col-sm-12">
                                    <small class="text-gray">* Campos obrigatórios</small>
                                    <hr class="hr"/>
                                  </div>

                                  <button type="button" id="btnSearch" class="btn btn-default btn-block" ng-click="getSearchResults()"
                                          ng-disabled="LOADING">
                                    Buscar
                                  </button>
                                </form>
                                <!-- Área de resultados - usar um hidden aqui -->
                                <!-- <section ng-if="displayResults"> -->
                                <section>
                                  <hr class="hr">
                                  <!-- Resultados -->
                                  <p class="response-block-title">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                    RESULTADOS
                                  </p>
                                  <!-- Tabela de resultados inicia aqui -->
                                  <div class="hidden" id="displayResults" style="
                                    max-height: 220px;
                                    overflow-y: scroll;
                                  ">
                                    <table class="table table-listing">

                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Fogo de chão
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Sorveteria da cidade
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Vila Àrabe
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Fogo de chão
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Sorveteria da cidade
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                      <tr>
                                        <!-- Primeiro TD é o nome do campo -->
                                        <td>
                                          Vila Àrabe
                                        </td>
                                        <!-- Botão que vai para as rotas " -->
                                        <td class="text-right">
                                          <button type="button" class="btn btn-default btn-sm" ng-click="searchForRoute(item)">Mapa</button>
                                        </td>
                                      </tr>
                                    </table>
                                  </div>
                                </section>
                              </div>
                            </article>

                            <article id="topController" class="vr-searchmap-topcontroller hidden" ng-class="{'active': menuMapDisplay}">
                              <!-- Header -->
                              <section class="vr-searchmap-top-heading">
                                ESTABELECIMENTOS ENCONTRADOS POR RADIO DE DISTÂNCIA
                              </section>
                              <!-- Botões tem que ter btn-map para estilização unica deles -->
                              <section class="vr-searchmap-top-body">
                                <button type class="btn btn-default btn-map active">
                                  <small class="text-block" radius="400" top="278">1km</small>
                                  <span class="text-lg">50</span>
                                </button>
                                <button type class="btn btn-default btn-map">
                                  <small class="text-block" radius="500" top="228">5km</small>
                                  <span class="text-lg">206</span>
                                </button>
                                <button type class="btn btn-default btn-map">
                                  <small class="text-block" radius="600" top="178">10m</small>
                                  <span class="text-lg">452</span>
                                </button>
                              </section>
                            </article>

                            <div id="info1" class="vr-location-info hidden" style="top: 430px; right: 450px">
                              <div style="color: white">
                                <div class="row vr-location-info-heading">
                                    <div class="col-sm-12">
                                        <div class="display-info">
                                          <span class="title-location">
                                              Super Nosso Buritis F 401
                                          </span>
                                          <p>
                                              <span class="clearfix">Av. Professor Mário Werneck 2641.</span>
                                              <small>Belo Horizonte</small>
                                          </p>
                                        </div>
                                        <button id="btnFavorite" class="btn btn-favorite icon-icon_favoritos_off pull-right"
                                          style="background-color: transparent"></button>
                                    </div>




                                </div>
                                <hr class="hr">
                                <div class="results-list" style="min-height: 198px">
                                  <div class="results-item">
                                    <img src="http://placehold.it/42x42" alt="">
                                    <span>Vr Refeicao</span>
                                  </div>
                                  <div class="results-item">
                                    <img src="http://placehold.it/42x42" alt="">
                                    <span>Vr Refeicao</span>
                                  </div>
                                  <div class="results-item">
                                    <img src="http://placehold.it/42x42" alt="">
                                    <span>Vr Refeicao</span>
                                  </div>
                                  <div class="results-item">
                                    <img src="http://placehold.it/42x42" alt="">
                                    <span>Vr Refeicao</span>
                                  </div>
                                </div>
                                <hr class="hr">
                                <div class="paginacao">
                                    <div class="row">
                                      <div class="col-sm-12 text-center">
                                        <button id="prevPage" class="btn btn-default btn-map" ng-click="currentPage = currentPage - 1" ng-disabled="currentPage == 1">
                                          <i class="fa fa-chevron-left"></i>
                                        </button>
                                        <span class="text-primary"><em id="currentPage" class="text-underlined">1</em> - <span id="totalPages">2</span></span>
                                        <button id="nextPage" class="btn btn-default btn-map" ng-click="currentPage = currentPage + 1" ng-disabled="currentPage == totalPages">
                                          <i class="fa fa-chevron-right"></i>
                                        </button>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <!-- MAPA -->
                    </div>


                </div>
            </div>
        </div>
        <script src="/prototype/js/prot-rede-credenciada.js"></script>
    </body>
</html>